/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-neutral-dark: #5496BD;
  --basic-neutral: #669EC0;
  --basic-neutral-light: #81B3D2;
  --basic-extra-light: #eeeeee;
  --basic-white: #ffffff;

  --basic-medium-light: #f2f2f2;
  --basic-medium-grey: #EBEBEB;
  --basic-medium-grey-light: #E5E5E5;
  --basic-medium: #BDBBBC;
  --basic-medium-grey: #CACACA;

  --special-light: #766357;
  --special: #604E43;
  --special-dark: #503E33;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


ul.site-navigation {
  width: 1200px;
  margin: 0 auto;
}

.main {
  width: 1200px;
  margin: 0 auto;
}

/* Main navigation */

.nav {
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.site-navigation {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-navigation li:first-child {
  width: 240px;
  padding-left: 72px;
} 

.site-navigation li:nth-child(2) {
  width: 240px;
  max-width: 240px;
}

.site-navigation li:nth-child(3) {
  width: 240px;
  text-align: right;
}

.site-navigation li:nth-child(4) {
  width: 240px;
  text-align: right;
  padding-right: 72px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.site-navigation a:hover {
  color: var(--basic-neutral-light);
}

.site-navigation a:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.site-navigation a:focus {
  color: var(--special-light);
  outline: none;
}

/* Advantages */
.advantages-top {
  background-color: var(--basic-neutral);
  color: var(--basic-white);
  display: flex;
}

.advantages-image {
  width: 800px;
}

.advantages-text {
  width: 400px;
  text-align: center;
  padding-top: 47px;
  padding-bottom: 54px;
}

.advantages-text h3 {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.advantages-top h2 {
  font-size: 21px;
  line-height: 21px;
}

.advantages {
  display: flex;
  background-color: var(--basic-extra-light);
}

.reasons-item h2,
.advantages h2 {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-align: center;
}

.advantages span {
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-extra-dark);
}

.reasons-item p,
.advantages h3 {
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-black);
  text-align: center;
}

.reasons {
  display: flex;
}

.reasons-item {
  width: 400px;
  padding-left: 73px;
  padding-right: 73px;
  padding-bottom: 82px;
}


.interested h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  align-items: center;
  text-align: center;
}

.interested p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
}

/*Pop Up button for opening form*/

.open-button-wrapper {
  text-align: center;
}


.open-button {
  width: 568px;
  height: 86px;
  background-color: var(--special-light);
  vertical-align: middle;
  color: var(--basic-white);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.open-button:hover {
  background-color: var(--special);
}

.open-button:active {
  background-color: var(--special-dark);
}

/*Form Calendar*/
.interested input {
  background-color: var(--basic-medium-light);
  border: none;
}

.interested input:hover {
  background-color: var(--basic-medium-grey);
}

.interested input:focus {
  background-color: var(--basic-white);
  outline: none;
  border: 2px solid var(--basic-medium-grey-light);
}

/*Show button Form*/
.button {
  background-color: transparent;
  border: 1px solid var(--basic-black);
}

.button:hover {
  background-color: var(--basic-medium-grey);
}


/*Submit button*/
.button-submit-wrapper {
  text-align: center;
}

.button-submit {
  width: 458px;
  height: 58px;
  vertical-align: middle;
  background-color: var(--basic-neutral-light);
  color: var(--basic-white);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  border: none;
}

.button-submit:hover {
  background-color: var(--basic-neutral);
}

.button-submit:active {
  background-color: var(--basic-neutral-dark);
  outline: none;
}

button.button-submit:focus {
  background-color: var(--basic-neutral);
  outline: none;
}

/* Footer */

.footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  color: var(--basic-black);
}

.footer-contacts {
  width: 400px;
  text-align: center;
}


.footer-contacts a, .footer-contacts p {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  text-decoration: none;
  text-transform: uppercase;
}

.footer-social {
  width: 400px;
  list-style: none;
}

.footer-social a {
  background-color: var(--basic-neutral-light);
  text-decoration: none;
}


.footer-social a:hover {
  background-color: var(--basic-neutral);
  text-decoration: none;
}

.footer-social a:focus, a:active {
  background-color: var(--basic-neutral-dark);
  text-decoration: none;
  outline: none;
}

.footer-developer {
  width: 400px;
}

.footer-developer a:hover {
  color: var(--basic-neutral);
  text-decoration: none;
}

.footer-social-wrapper  {
  list-style: none;
  text-decoration: none;
}

.footer-developer a:hover, .footer-developer span:hover {
  fill: var(--basic-neutral-light);
  background: transparent;
}


.footer-developer a:active, .footer-developer span:active {
  color: var(--basic-medium);
  fill: var(--basic-medium);
  background: transparent;
}

/* ----------- Hotels Page -------------------*/

/*Filters*/
.filters fieldset {
  display: inline-block;
  border: none;
}

fieldset ul {
  padding-left: 0;
}

fieldset li {
  padding-bottom: 25px;
}

fieldset p  {
  padding-top: 0px;
}


.filters fieldset:first-child{
  margin-right: 119px;
}

.filters fieldset:nth-child(2){
  margin-right: 394px;
}

.filters ul {
  list-style: none;
}

.filters legend{
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

/* Sort navigation */

.sort-navigation-wrapper ul, .hotel-section ul {
  list-style: none;
}

.sort-navigation-wrapper ul {
  display: flex;
  flex-direction: row;
}

.hotel {
  display: flex;
  padding-bottom: 61px;
}

.hotel-description {
  display: flex;
  flex-direction: column;
  padding-left: 29px;
}

.hotel-description h3 {
  margin-top: 0;
  margin-bottom: 16px;
}

.hotel-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.hotel-about {
  display: flex;
  flex-direction: column;
  padding-right: 6px;
}

.hotel-book {
  display: flex;
  flex-direction: column;
}

.sort-navigation a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed var(--basic-neutral);
}

.sort-navigation a:hover {
  color: var(--basic-neutral);
  opacity: 1.0;
  border-bottom: 1px dashed var(--basic-neutral);
}

.sort-navigation a:active {
  color: var(--basic-black);
}

.sort-navigation a:focus {
  color: var(--basic-neutral);
  outline: none;
}

.arrow-navigation a {
  color: var(--basic-medium-grey);
}

.arrow-navigation a:hover {
  color: var(--basic-black);
}

.arrow-navigation a:focus,
a:active {
  color: var(--basic-neutral);
  outline: none;
}

/*Hotel Book*/
.hotel-book a {
  background-color: var(--special-light);
  color: var(--basic-white);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 16px;
  padding-right: 17px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.hotel-book a:hover {
  background-color: var(--special);
  color: var(--basic-white);
}

.hotel-book a:active {
  background-color:var(--special-dark);
  color: rgba(255, 255, 255, 0.3);
}

.hotel-book span, .hotel-about span  {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-extra-dark);
}

/*Hotel about*/
.hotel-about a {
  background-color: var(--basic-neutral-light);
  color: var(--basic-white);
  border: 1px transparent var(--basic-white);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 17px;
  padding-right: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.hotel-about a:hover {
  background-color: var(--basic-neutral);
  color: var(--basic-white);
}

.hotel-about a:active {
  background-color: var(--basic-neutral-dark);
  color: rgba(255, 255, 255, 0.3);
}

/*Hotel description*/

.hotel-description h3 {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}


.hotel-description a:first-child:hover {
  color: var(--basic-neutral-light);
}


.hotel-description a:first-child:active {
  color:rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

